 @import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Gentium+Plus:ital@1&family=Press+Start+2P&family=Saira+Stencil+One&display=swap');

.heading{
  color:black;
  font-size: large;
}
#about{
  background-color: white;
}
.head-text{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
margin-bottom: 5rem;
width: 60%;

}
.font{
  font-family:Arial, Helvetica, sans-serif;
 
}
h2{
  color: blue;
}
p{
  color: black;
}
