 @import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Gentium+Plus:ital@1&family=Press+Start+2P&family=Saira+Stencil+One&display=swap');

.heading{
  color:black;
  font-size: large;
}
#about{
  background-color: gainsboro;
}
.font{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}